@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
*{
    margin:0;
    padding:0;
}
body{
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
}
.titulo-destaque{
    color: #22D4FD;
}
.apresentacao{
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentacao_conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.titulo{
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}
.paragrafo{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    
}
.position{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap:32px;
}
.subtitulo{
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.boton{
    
    display:flex;
    justify-content:center ;
    gap: 16px;
    width: 378px;
    text-align: center;
    border: 2px solid #22D4FD;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 16px 0;
    text-decoration: none;;
    color: #f6f6f6;
    font-family: 'Montserrat', sans-serif;
}
.img{
    padding:8px;
    border:rgb(64, 0, 255);
    margin:auto;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    gap: 10px;
  }
.boton:hover{
background-color:#22D4FD;
}
.img:hover{
    background-color: rgb(255, 105, 215);
    border: 4px dotted rgb(64, 0, 255);
    padding: 10px 10px;
  
}

